/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#gdpr-cookies-gtm-cookie-banner-wrapper {
  display: none;
  position: fixed;
  bottom: 30px;
  z-index: 990;
  width: 100% !important;


  #gdpr-cookies-gtm-cookie-banner {
    width: 98%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #323B48;
    color: white;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 45px 90px;


    .button {
      border-radius: .2175rem;
      padding: 1rem 1.875rem;
      margin-right: 1rem;
      color: white;
      font-size: 18px;
      font-family: 'Nunito Sans', Arial, sans-serif;
      font-weight: 500;
      text-transform: none;

      &-secondary {
        border: 1px solid white;
        background: transparent;
      }

      &-primary {
        background-color: #2ec671 !important;
        border: 1px solid #2ec671 !important;
      }

      &:hover {
        transform: translateY(1px);
        transition: .1s ease
      }
    }



    h4 {
      font-family: 'Nunito Sans', Arial, sans-serif;
      font-size: 30px;
      color: white;
      font-weight: 700;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .text {
      margin-top: 1rem;
      font-family: 'Nunito Sans', Arial, sans-serif;
      font-size: 16px;
      color: white;
      font-weight: 400;
    }

    .button-wrapper {
      width: 100%;
      margin-top: 2.5rem;
    }

    ul.round {
      display: block;
      width: 100%;
      list-style: none;
      margin: 2rem 0 0 0;
      padding-inline-start: 0;
    }

    ul.round li {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      margin-right: 10px;
    }

    label {
      cursor: pointer;
      font-size: 16px !important;
      font-family: 'Nunito Sans', Arial, sans-serif !important;
      font-weight: 700 !important;
      user-select: none;
      color: #ffffff;
      margin-bottom: 0;
    }


    label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }


    .checkmark {
      position: absolute;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 15px;
    }

    label:hover input~.checkmark {
      background-color: #ccc;
    }


    label input:checked~.checkmark {
      background-color: #2EC671;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    label input:checked~.checkmark:after {
      display: block;
    }

    label .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
