/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#gdpr-cookies-gtm-cookie-banner-wrapper {
  display: none;
  position: fixed;
  bottom: 30px;
  z-index: 990;
  width: 100% !important;

  #gdpr-cookies-gtm-cookie-banner {
    width: 98%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    background-color: #323b48;
    color: white;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 30px 60px;

    .button {
      border-radius: 0.2175rem;
      padding: 1rem 1.875rem;
      margin-right: 1rem;
      color: white;
      font-size: 15px;
      font-family: "Nunito Sans", Arial, sans-serif;
      font-weight: 500;
      text-transform: none;
      line-height: 1.1;

      &-wrapper {
        width: 100%;

      }

      &-secondary {
        border: 1px solid white;
        background: transparent;
      }

      &-primary {
        background-color: #2ec671 !important;
        border: 1px solid #2ec671 !important;
      }

      &:hover {
        transform: translateY(1px);
        transition: 0.1s ease;
      }
    }

    h4 {
      font-family: "Nunito Sans", Arial, sans-serif;
      font-size: 24px;
      color: white;
      font-weight: 700;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    a {
      color: white !important;
      text-decoration: underline;

      &:hover {
        text-decoration: wavy;
      }
    }

    .text {
      margin-top: 1rem;
      font-family: "Nunito Sans", Arial, sans-serif;
      font-size: 13px;
      color: white;
      font-weight: 400;
    }

    ul.round {
      display: block;
      width: 100%;
      list-style: none;
      margin: 2rem 0 0 0;
      padding-inline-start: 0;
      margin-block-start: 20px;
      margin-block-end: 20px;

      li {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        margin-right: 10px;
      }
    }

    label {
      cursor: pointer;
      font-size: 13px !important;
      font-family: "Nunito Sans", Arial, sans-serif !important;
      font-weight: 700 !important;
      user-select: none;
      color: #ffffff;
      margin-bottom: 0;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    }

    .checkmark {
      position: absolute;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 15px;
    }

    label:hover input~.checkmark {
      background-color: #ccc;
    }

    label input:checked~.checkmark {
      background-color: #2ec671;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    label input:checked~.checkmark:after {
      display: block;
    }

    label .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
