/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#gdpr-cookies-gtm-cookie-banner-wrapper {
    display: none;
    position: fixed;
    bottom: 30px;
    z-index: 990;
    width: 100% !important;
}

#gdpr-cookies-gtm-cookie-banner {
    width: 98%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #323B48;
    color: white;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 45px 90px;
}

#gdpr-cookies-gtm-cookie-banner .button{
    border-radius: .2175rem;
    padding: 1rem 1.875rem;
    margin-right: 1rem;
    color: white;
    font-size: 18px;
    font-family:'Nunito Sans', Arial, sans-serif;
    font-weight: 500;

    text-transform: none;
}

button:hover {
    transform: translateY(1px);
    transition: .1s ease
}

.button-primary {
    background-color: #2ec671 !important;
    border: 1px solid #2ec671 !important;
}

.button-secondary {
    border: 1px solid white;
    background: transparent;
}

#gdpr-cookies-gtm-cookie-banner h4 {
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

#gdpr-cookies-gtm-cookie-banner .text {
    margin-top: 1rem;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
#gdpr-cookies-gtm-cookie-banner {}
#gdpr-cookies-gtm-cookie-banner {}
#gdpr-cookies-gtm-cookie-banner {}
#gdpr-cookies-gtm-cookie-banner {}


.button-wrapper {
    width: 100%;
    margin-top: 2.5rem;
}

ul.round {
    display: block;
    width: 100%;
    list-style: none;
    margin: 2rem 0 0 0;
}
ul.round li {
    position: relative;
    display: inline;
    padding-left: 30px;
    margin-right: 10px;
}

label {
    cursor: pointer;
    font-size: 16px !important;
    font-family: 'Nunito Sans', Arial, sans-serif !important;
    font-weight: 700!important;
    user-select: none;

}

/* Hide the browser's default checkbox */
label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
    background-color: #2EC671;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}